.video-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.video-section {
  /* background: url('../images/loading.svg') 0px 0px no-repeat; */
  border: 0px;
}

.arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 40px;
  margin-right: 100px;
  z-index: 2;
  display: flex;
  align-items: center;
  background-color: transparent;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
}

.arrow-img {
  background-color: transparent;
  animation: bounce 1s infinite;
}

.arrow > p {
  font-weight: 700;
  padding-right: 10px;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .video-section-container {
    display: none;
  }

  .video-page-container {
    padding-top: 60px;
    height: 0;
  }

  .arrow {
    display: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .video-section-container {
    display: none;
  }

  .video-page-container {
    padding-top: 60px;
    height: 0;
  }

  .arrow {
    display: none;
  }
}
