.video-page-container {
  padding-top: 45%;
}

.video-section-container {
  position: fixed;
  width: 99vw;
  height: 80vh;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.video-section {
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .video-section-container {
    display: none;
  }

  .video-page-container {
    padding-top: 60px;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .video-section-container {
    display: none;
  }

  .video-page-container {
    padding-top: 60px;
  }
}
