.page-container {
  margin-top: 20px;
}

.page-info {
  margin: 40px;
  width: 90%;
}

.work {
  padding-top: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}

/* Mobile */
@media (max-width: 700px) {
  .page-info {
    width: auto;
    padding: 30px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .page-info {
    width: auto;
    padding: 30px;
  }
}
