.about-container {
  padding: 30px;
  display: flex;
  justify-content: center;
  height: 75vh;
}

.about-text {
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.about-text > p {
  margin-bottom: 20px;
}

.social-text {
  margin-left: 80px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 13em;
}

/* Mobile */
@media (max-width: 700px) {
  .about-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    padding: 0;
  }

  .about-text {
    width: 90%;
    padding: 20px;
  }

  .social-text {
    padding: 20px;
    margin-left: 0;
  }

  .social-text > div {
    margin-bottom: 20px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .about-container {
    width: 90vw;
  }
}
