.main-projects-container {
  width: 100%;
  z-index: 3;
  position: relative;
}

.home-title {
  text-align: center;
  padding: 30px;
}

.page-info {
  margin: 40px;
  width: 90%;
  text-align: center;
}

.work {
  text-align: start;
  padding-top: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}

.thumbnail-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.thumbnail {
  width: 33%;
  background-size: cover;
  height: 300px;
  position: relative;
}

.thumbnail:hover {
  text-decoration: underline;
}
.thumbnail:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  z-index: 1;
}

.project-title {
  position: absolute;
  background-color: transparent;
  top: 93%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  margin-left: 20px;
  z-index: 2;
}

.thumbnail:hover .project-title p {
  text-decoration: underline;
  text-underline-offset: 4px;
}

p {
  background: transparent;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1000px) {
  .thumbnail {
    width: 100%;
    height: 450px;
  }

  .page-info {
    width: auto;
    padding: 30px;
  }
  .work {
    text-align: center;
  }
}

@media (min-width: 1000px) and (max-width: 1120px) {
  .thumbnail {
    width: 100%;
    height: 600px;
  }

  .page-info {
    width: auto;
    padding: 30px;
  }
  .work {
    text-align: center;
  }
}

@media (max-width: 700px) {
  .thumbnail {
    width: 100%;
    height: 200px;
  }

  .page-info {
    width: auto;
    padding: 30px;
    padding-top: 0;
  }

  .work {
    text-align: center;
  }

  .project-title {
    padding-bottom: 30px;
  }
}
