* {
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

a:-webkit-any-link {
  text-decoration: none;
}
