.page-container {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-container {
  align-self: flex-start;
  padding: 30px;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.credits {
  width: 100%;
  padding: 30px;
  padding-left: 0;
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}

.text {
  margin-bottom: 10px;
}

span {
  font-weight: 700;
}
