.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Mobile */
@media (max-width: 700px) {
  .home-content {
    overflow-x: hidden;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .video-container {
    width: 99vw;
    height: 70vh;
  }

  .video {
    height: 78%;
  }
}
