.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}

.home-title {
  text-align: center;
  margin-bottom: 90px;
}

/* Mobile */
@media (max-width: 700px) {
  .home-content {
    margin-top: 20px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .video-container {
    width: 99vw;
    height: 70vh;
  }

  .video {
    height: 78%;
  }
}
