.header {
  font-size: large;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100%;
  padding: 5px 15px;
  position: fixed;
  z-index: 4;
  background: rgba(0, 0, 0, 0.1) !important;
  transition: background-color 0.3s ease;
}

.header.scrolled {
  background-color: black !important;
}

.sections {
  display: flex;
  align-items: center;
  background: none !important;
}

.section-menu-desktop {
  display: flex;
  align-items: center;
  background: none !important;
}

.section-menu-desktop > a > img {
  background: none !important;
}

.logo {
  cursor: pointer;
  height: 50px;
  padding-left: 10px;
  padding-right: 50px;
  background: none !important;
  display: flex;
  align-items: center;
}

.section {
  cursor: pointer;
  height: 50px;
  padding: 0 9px;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: white;
  border: none;
  font-size: large;
  font-family: inherit;
}

.section:hover {
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

.mobile-menu-button {
  border: none;
  display: flex;
}

.mobile-menu-container {
  position: absolute;
  padding: 0.5em;
  top: 70px;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  width: 100vw;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile-sections {
  padding: 5px 15px;
}

/* Mobile */
@media (max-width: 700px) {
  .sections {
    width: 100%;
    justify-content: space-between;
  }

  .header {
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 3;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .sections {
    width: 100%;
    justify-content: space-between;
  }

  .header {
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 3;
  }
}
