.header {
  font-size: large;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 5px 15px;
}

.sections {
  display: flex;
  align-items: center;
}

.section-menu-desktop {
  display: flex;
  align-items: center;
}

.logo {
  cursor: pointer;
  height: 50px;
  padding-left: 10px;
  padding-right: 50px;

  display: flex;
  align-items: center;
}

.section {
  cursor: pointer;
  height: 50px;
  padding: 0 9px;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: white;
  border: none;
  font-size: large;
  font-family: inherit;
}

.section:focus {
  font-weight: 700;
}

.section:hover {
  font-weight: 700;
}

.mobile-menu-button {
  border: none;
  position: relative;
  display: flex;
}

.mobile-menu-container {
  position: absolute;
  padding: 0.5em;
  top: 70px;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  width: 95vw;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mobile-sections {
  padding: 5px 15px;
}

/* Mobile */
@media (max-width: 700px) {
  .sections {
    width: 100%;
    justify-content: space-between;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .sections {
    width: 100%;
    justify-content: space-between;
  }
}
