.header {
  background-color: #212121;
  color: white;
  font-size: large;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 15px;
}

.sections {
  display: flex;
  align-items: center;
}

.dropdown {
  display: flex;
  align-items: center;
  position: relative;
}

.dropdown-menu {
  position: absolute;
  padding: 0.5em;
  background-color: rgba(70, 70, 70, 0.9);
  top: 50px;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown > .icon:focus + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
}

.options {
  padding: 0.5em;
  width: max-content;
  color: white;
  text-decoration: none;
}

a:-webkit-any-link {
  text-decoration: none;
}

.options:hover {
  font-weight: 500;
}

.logo {
  cursor: pointer;
  height: 50px;
  padding-left: 10px;
  padding-right: 50px;
  display: flex;
  align-items: center;
}

.icon {
  cursor: pointer;
  height: 50px;
  padding: 0 9px;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: white;
  border: none;
  font-size: large;
  font-family: inherit;
}

.dropdown > .icon:focus,
.icon:hover {
  background-color: rgba(70, 70, 70, 0.5);
  font-weight: 500;
}
